<!-- Certifications Section -->
<section id="certifications" class="certifications">
    <div class="container">
        <h2 class="section-title">Principais Cursos</h2>
        <div class="certifications-content">

            <div class="certification-category">
                <h3>
                    Udemy
                </h3>
                <ul>
                    <li>Spring Boot 2026 REST API's do 0 à AWS e GCP com Java e Docker - Leandro Costa<a
                            href="https://www.udemy.com/course/restful-apis-do-0-a-nuvem-com-springboot-e-docker/"
                            target="_blank" class="cert-icon"><i class="fas fa-certificate"></i></a></li>
                    <li>Java Completo Orientado a Objetos + Projetos - Nelio Alves<a
                            href="https://www.udemy.com/certificate/UC-3a273152-0b26-4f5e-aa3d-3e1a416e29cf/"
                            target="_blank" class="cert-icon"><i class="fas fa-certificate"></i></a></li>
                    <li>Java Unit Testing com Spring Boot 3, TDD, Junit 5 e Mockito - Leandro Costa<a
                            href="https://www.udemy.com/course/java-unit-testing-com-java-spring-boot-3-junit-5-e-mockito/"
                            target="_blank" class="cert-icon"><i class="fas fa-certificate"></i></a></li>
                </ul>
            </div>

            <div class="certification-category">
                <h3>Alura - Formação Spring Boot 3</h3>
                <ul>
                    <li>
                        Spring Boot 3: desenvolva uma API REST em Java<a
                            href="https://cursos.alura.com.br/certificate/a8193194-0d15-4258-92f1-9839f371b251?lang"
                            target="_blank" class="cert-icon"><i class="fas fa-certificate"></i></a>
                    </li>
                    <li>
                        Spring Boot 3: aplique as melhores práticas e proteja uma API REST<a
                            href="https://cursos.alura.com.br/certificate/791f55aa-5810-44f5-8e52-e63875f94e1e?lang"
                            target="_blank" class="cert-icon"><i class="fas fa-certificate"></i></a>
                    </li>
                    <li>
                        Spring Boot 3: documente, teste e prepare uma API para deploy<a
                            href="https://cursos.alura.com.br/certificate/84ec8eb3-32ea-4845-9549-9bcf9dd7da06?lang"
                            target="_blank" class="cert-icon"><i class="fas fa-certificate"></i></a>
                    </li>
                </ul>
            </div>



            <div class="certification-category">
                <h3>
                    Coursera
                </h3>
                <ul>
                    <li>Fundamentos do Suporte Técnico do Google<a
                            href="https://coursera.org/share/e269de638c0a273e2be1e7c97409cb2b" target="_blank"
                            class="cert-icon"><i class="fas fa-certificate"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>