<!-- Image Modal -->
<div id="imageModal" class="image-modal">
    <div class="modal-content">
        <button class="close-modal">&times;</button>
        <img id="modalImage" class="modal-image" src="" alt="Imagem Ampliada">
        <div class="modal-caption" id="modalCaption"></div>
        <button class="modal-nav-btn prev">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="modal-nav-btn next">
            <i class="fas fa-chevron-right"></i>
        </button>
        <div class="modal-dots" id="modalDots">
            <!-- Dots serão gerados dinamicamente -->
        </div>
    </div>
</div> 