<!-- Navigation -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">

        </div>
        <ul class="nav-menu">
            <li><a href="#home" class="nav-link">Início</a></li>
            <li><a href="#about" class="nav-link">Sobre</a></li>
            <li><a href="#education" class="nav-link">Educação</a></li>
            <li><a href="#skills" class="nav-link">Habilidades</a></li>
            <li><a href="#projects" class="nav-link">Experiência Profissional</a></li>
            <li><a href="#project-tech-demo" class="nav-link">Projetos</a></li>
            <li><a href="#contact" class="nav-link">Contato</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>